fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
pandas==2.2.3
python-dotenv==1.0.1
python-multipart==0.0.20
PyPDF2==3.0.1
openpyxl==3.1.5
langgraph==0.3.5
langchain-core==0.3.65
langchain-community==0.3.24
langchain-google-genai==2.1.5
groq==0.13.1
langchain-groq==0.3.2
rich==13.9.4
langchain-nvidia-ai-endpoints==0.3.9
