fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
pandas==2.2.3
python-dotenv==1.0.1
python-multipart==0.0.20
PyPDF2==3.0.1
openpyxl==3.1.5
langgraph==0.2.60
langchain-core==0.3.28
langchain-community==0.3.13
langchain-google-genai==2.0.8
google-genai==2.10.0
groq==0.13.1
langchain-groq==0.2.3
rich==13.9.4
langchain-nvidia-ai-endpoints==0.3.9
